<?xml version="1.0" encoding="gb2312"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  

  <display-name>Douyu Examples</display-name>

  <!-- ******************************************************************** -->
  <!-- 此Filter要放到最后，                                                 -->
  <!-- 否则后面的Filter在执行完Controller后就不执行了                       -->
  <!-- ******************************************************************** -->

  <!-- Douyu Controller Filter 是Douyu与容器集成的唯一入口，它会拦截请求，  -->
  <!-- 如果请求是一个Douyu Controller，那么就把请求转交给Douyu处理，        -->
  <!-- 否则把控制权返回给容器。 此Filter支持如下配置参数:                   -->
  <!--                                                                      -->
  <!--   srcDir              存放java源文件或视图模板文件(vm、ftl)的目录    -->
  <!--                       可以用绝对路径，也可以用相对路径，             -->
  <!--                       如果是相对路径，那么是相对于WEB-INF目录而言的，-->
  <!--                       默认值是 src                                   -->
  <!--                                                                      -->
  <!--   classesDir          存放自动编译的class文件或自动生成的文件的目录  -->
  <!--                       可以用绝对路径，也可以用相对路径，             -->
  <!--                       如果是相对路径，那么是相对于WEB-INF目录而言的，-->
  <!--                       默认值是 classes                               -->
  <!--                                                                      -->
  <!--   isDevMode           当前环境是否是开发模式下的环境，如果为true,    -->
  <!--                       那么在java源文件修改后会自动编译重新加载，     -->
  <!--                       并且不用重新启动容器，                         -->
  <!--                       在产品环境中要设成false，这样可以提升性能      -->
  <!--                       默认值是 true                                  -->
  <!--                                                                      -->
  <!--   javacEncoding       对应javac编译器的-encoding参数,                -->
  <!--                       用来指定源文件使用的字符编码,                  -->
  <!--                       默认值是 null                                  -->
  <!--                                                                      -->
  <!--   viewManagerProviderConfig                                          -->
  <!--                       ViewManagerProvider用来衔接Douyu与各类模块引擎 -->
  <!--                       比如JSP、Velocity、FreeMarker，                -->
  <!--                       Douyu内置了三个ViewManagerProvider,            -->
  <!--   默认值是:                                                          -->
  <!--   org.douyu.plugins.jsp.JspViewManagerProvider=jsp|jspx;             -->
  <!--   org.douyu.plugins.velocity.VelocityViewManagerProvider=vm;         -->
  <!--   org.douyu.plugins.freemarker.FreeMarkerViewManagerProvider=ftl     -->
  <!--                                                                      -->
  <!--   格式: 类名=扩展名A|扩展名B; 类名=扩展名C|扩展名D                   -->
  <!--                                                                      -->
  <!--                                                                      -->
    <filter>
        <filter-name>Douyu Controller Filter</filter-name>
        <filter-class>org.douyu.mvc.ControllerFilter</filter-class>
		<async-supported>true</async-supported>

		<!-- 以下是配置样例 -->

        <init-param>
            <param-name>srcDir</param-name>
            <param-value>src</param-value>
        </init-param>

		<init-param>
            <param-name>classesDir</param-name>
            <param-value>classes</param-value>
        </init-param>

		<init-param>
            <param-name>isDevMode</param-name>
            <param-value>true</param-value>
        </init-param>

		<init-param>
            <param-name>javacEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>

		<init-param>
            <param-name>viewManagerProviderConfig</param-name>
            <param-value>
				org.douyu.plugins.jsp.JspViewManagerProvider=jsp|jspx;
				org.douyu.plugins.velocity.VelocityViewManagerProvider=vm;
				org.douyu.plugins.freemarker.FreeMarkerViewManagerProvider=ftl
			</param-value>
        </init-param>
    </filter>

	<filter-mapping>
        <filter-name>Douyu Controller Filter</filter-name>
        <url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<!-- servlet3.0 支持这个配置 -->
		<dispatcher>ASYNC</dispatcher>
    </filter-mapping>
</web-app>
